{%extends "layout.html"%}
{%block content%}

  <script type="text/javascript" src={{cdn_js | safe }}></script>

<div class ="plot">
    <h2>WebBased Dynamic Stock Symbol Graph</h2>
    <p1> Please try stock symbols such as Google, Tesla or Apple (GOOG, TSLA, AAPL) </p1>
</div>

<div class ="form-group">
    <form action="{{ url_for('plot')}}" method="post">
    <label for="stock_symbol">Stock Symbol:</label><br>
    <input type="text" name="stock_symbol"
    name="stock_symbol" required><br>

    <br>

    <form action="{{ url_for('plot')}}" method="post">
    <label for="startyr">Start date:</label>
    <input type="date" id="Graph_start" name="Graph_start"

           min="2010-01-01" max="2020-06-22" required>

    <form action="{{ url_for('plot')}}" method="post">
    <label for="endyr">End date:</label>
    <input type="date" id="Graph_end" name="Graph_end"

           min="2010-01-01" max="2020-06-22">
           <input type="submit" required>
    </form>

</form>

</div>
{{theplot | safe}}
{{div1 | safe}}
{%endblock%}
